@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');


/* GENERAL */
:root {
    /* Palette */
    --background-darkest: #271c19;
    --background-dark: #473733;
    --background-mid: #5F4A45;
    --background-light: #765c56; 
    --separators: #947f7a;
    --headings: #FFFFFE;
    --text: #FFF3EC;
    --text-dark: #2c2321;
    --accent1: #FFC0AD;
    --accent2: #E78fB3;
    --accent3: #BEEFC7;
    --accent4: #9656A1;
    
    /* Defaults */
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

h1, h2 {
    color: var(--headings);
}

h1 {
    align-self: center;
    font-weight: 900;
    font-size: 46px;
    letter-spacing: 2px;
    text-shadow: 2px 2px var(--background-darkest);
}

button {
    font-size: 1rem;

    border-radius: 5px;
    border-style: none;
}

input, select, textarea {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    border-radius: 5px;
    border: 1px solid var(--separators);
}

input:focus, textarea:focus, select:focus {
    outline: 1px solid var(--accent1);
    border-color: var(--accent1);
}

textarea {
    max-width: 100%;
    min-width: 100%;
}

label {
    font-weight: 600;
}

/* MAIN LAYOUT */

body {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(80px, 8vh));

    column-gap: 16px;

    margin: 0;

    min-height: 100vh;
    min-width: 1280px;

    background-color: var(--background-darkest);
}

header {
    grid-column: 1 / -1;

    padding-left: 16px;

    height: 100%;

    background-color: var(--background-dark);
    
    display: grid;
}

.sidebar {
    grid-column: 1 / 4;
    grid-row: 2 / -1;

    padding: 16px;

    background-color: var(--background-mid);

    display: flex;
    flex-direction: column;
    gap: 16px;
}

main {
    height: 100%;
    
    grid-column: 4 / -1;
    grid-row: 2 / -1;

    padding-top: 16px;
    padding-left: 16px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(72px, 5vh));
    column-gap: 32px;
}

/* SIDEBAR */
.projects-list {
    display: flex;
    flex-direction: column;

    gap: 8px;

    padding-bottom: 16px;
    border-bottom: 1px solid var(--separators);
}

.projects-list li {
    height: 2rem;
    line-height: 2rem;

    padding: 0 8px;

    border-radius: 5px;

    color: var(--text);
}

.projects-list li.selected {
    background-color: var(--background-dark);
}

#add-project {
    height: 2rem;

    border-style: none;
    border-radius: 5px;

    background-color: var(--accent1);

    color: var(--text-dark);
    font-weight: 600;

    margin: 0 20%;
}
/* MAIN */ 
.heading-area {
    grid-column: 1 / -1;
}

.heading {
    display: flex;
    align-items: baseline;

    gap: 16px;
    border-bottom: 1px solid var(--separators);
    padding-bottom: 8px;
    padding-right: 16px;

    width: fit-content;
}

.heading h2 {
    color: var(--headings);
}

.tasks-left {
    color: var(--text);
}

.heading button {
    border-radius: 50%;
    border-style: none;

    width: 2.5rem;
    height: 2.5rem;

    background-color: var(--accent1);
    color: var(--text-dark);
    font-weight: 600;
}

#delete-project {
    background-color: var(--accent2);
    background-image: url('./icons/trash-2\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: center;
}

#edit-project {
    background-image: url('./icons/edit-2.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#add-task {
    background-color: var(--accent3);
    background-image: url('./icons/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;

    position: fixed;
    bottom: 32px;
    right: 32px;

    width: 5rem;
    height: 5rem;
}


.task-box {
    grid-column: auto / span 3;
    grid-row: 2 / -1;

    display: flex;
    flex-direction: column;
    gap: 16px;

    border-radius: 10px;

    padding: 16px;

    background-color: var(--background-dark);
}

.task-box h3 {
    color: var(--headings);
}

.card {
    padding: 8px;
    padding-right: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: var(--text);
    border-radius: 5px;
}

.card .collapsed {
    display: flex;
    justify-content: space-between;
}

.title-container {
    display: flex;
    gap: 8px;
}

.task-title {
    color: var(--text-dark);
}

.tick {
    box-sizing: content-box;

    background-color: var(--headings);
    border: 1px solid var(--separators);
    border-radius: 5px;

    height: 1rem;
    width: 1rem;
}

.ticked {
    background-image: url('./icons/check.svg');
    background-position: center;
    background-size: 1rem;
    background-repeat: no-repeat;
}

.arrow {
    justify-self: end;
    
    background-image: url('./icons/chevron-down.svg');
    background-position: center;
    background-size: 1.5rem;
    background-repeat: no-repeat;

    width: 1.5rem;
    height: 100%;
}

.arrow.up {
    background-image: url('./icons/chevron-up.svg');
}

.card .expanded {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
}

.card .expanded.hidden {
    display: none;
}

.descr {
    color: var(--text-dark);
    font-size: 16px;
}

.btn-container {
    display: grid;
}

#delete-task {
    border-radius: 5px;
    border-style: none;
    background-color: var(--accent2);

    color: var(--text-dark);
    font-weight: 600;

    justify-self: end;

    width: fit-content;
    padding: 8px 16px;
}

/* MODALS */
.modal {
    background-color: rgba(0, 0, 0, 0.5);

    height: 100%;
    width: 100%;

    position: fixed;

    display: grid;
}
.modal-contents {
    display: flex;
    flex-direction: column;

    width: 30vw;
    min-height: 20vh;

    background-color: var(--text);
    border-radius: 15px 15px 10px 10px;

    align-self: center;
    justify-self: center;

}

.modal-contents h2 {
    background-color: var(--background-mid);

    border-radius: 10px 10px 0 0;

    padding: 8px;
}

.modal-contents form {
    display: flex;
    flex-direction: column;

    padding: 16px;
    gap: 8px;
}

.modal-contents button {
    background-color: var(--accent2);

    width: fit-content;

    padding: 0.5rem 1rem;

    align-self: center;
    justify-self: center;

    margin-top: 8px;

    font-weight: 600;
}
